<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <!--
    TODO: busConfig milestone, check Github for next steps
    <section class="busArrivals">
      <h2>MTA Bus Arrivals</h1>
      <section class="stopMonitoring">
        <h3>{{arrivals[0].routeName}} at {{arrivals[0].stopName}}</h3>
        <ul>
        {% for arrival in arrivals %}
          <li>
            Arriving {{arrival.waitTime}}
          </li>
        {% else %}
          Uh-oh. No bus arrival info.
        {% endfor %}
        </ul>
      </section>
    </section>
    -->
    <section class="subwayDelays">
      <h2>Planned Service Changes - Subway (Beta)</h2>
      {% for workBatch in subwayDelays %}
      <section class="workBatch">
        <h3>{{workBatch.start | shortenDate}} to {{workBatch.end | shortenDate}}</h3>
        <ul>
          {% for route, advisory in workBatch.advisories %}
          {% for message in advisory %}
          <li>
            {% for node in message %}
              {% if node.type === 'text' %}
                {{node.data}}
              {% elif node | isImage %}
                {% set route = node | extractRoute %}
                {% if route %}
                  <span class="routeCircle route{{route}}">{{route}}</span>
                {% endif %}
              {% endif %}
            {% endfor %}
          </li>
          {% endfor %}
          {% endfor %}
        </ul>
      </section>
      {% endfor %}
    </section>
  </div>
</body>
</html>
