<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Settings</title>
</head>
<body>
  <div class="container">
    <section class="config__description">
      <h2>Settings</h2>
    </section>
    <form action="/dashboard" method="get">
      <!--
      TODO: busConfig milestone, check Github for next steps
      <fieldset class="busConfig">
        <legend>Find out when the next bus is arriving.</legend>
        <label for="busRoute">Bus Route</label>
        <input type="text" name="busRoute" id="busRoute" value="MTA NYCT_B63">
        <label for="busStop">Bus Stop</label>
        <input type="text" name="busStop" id="busStop" value="308209">
      </fieldset>
      -->
      <fieldset class="subwayConfig">
        <legend>Find out about upcoming train delays.</legend>
        {% for route in subwayRoutes %}
          <label class="subwayConfig__checkbox">
            <input type="checkbox" name="subwayRoutes[]" value="{{route}}">
            <span class="routeCircle routeCircle--tappable route{{route}}">{{route}}</span>
          </label>
        {% endfor %}
      </fieldset>
      <fieldset class="fieldset-invisible">
        <input type="submit" class="btn btn-default btn-block" value="Submit">
      </fieldset>
    </form>
  </div>
</body>
</html>
