/* Reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Base Styles */
body {
  background: #4D5357;
  color: #fff;
  font: 16px/ 1.5 Helvetica, Arial, sans-serif ;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Bus Arrivals */
.busArrivals {
  margin: 0 16px;
}

.busArrivals h2 {
  color: #00A1DE;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Subway Delays */
.subwayDelays {
  margin: 0 16px;
}

.subwayDelays h2 {
  color: #00A1DE;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.workBatch li {
  margin-bottom: 0.5em;
}

/* route */
.routeCircle {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  font-size: 1.0em;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
}

.routeA,
.routeC,
.routeE {
  background: #0039A6;
}

.routeB,
.routeD,
.routeF,
.routeM {
  background: #FF6319;
}

.routeJ,
.routeZ {
  background: #996633;
}

.routeN,
.routeQ,
.routeR {
  background: #FCCC0A;
  color: #000;
}

.routeS {
  background: #808183;
}

.routeL {
  background: #A7A9AC;
}

.routeG {
  background: #6CBE45;
}

.route1,
.route2,
.route3 {
  background: #EE352E;
}

.route4,
.route5,
.route6 {
  background: #00933C;
}

.route7 {
  background: #B933AD;
}
