/* Reset */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Base Styles */
body {
  background: #4D5357;
  color: #fff;
  font: 16px/ 1.5 Helvetica, Arial, sans-serif ;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Bus Arrivals */
.busArrivals {
  margin: 0 16px;
}

@media only screen and (max-width: 500px) {
  .busArrivals {
    margin: 0 8px;
  }
}

.busArrivals h2 {
  color: #00A1DE;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

/* Subway Delays */
.subwayDelays {
  margin: 0 16px;
}

@media only screen and (max-width: 500px) {
  .subwayDelays {
    margin: 0 8px;
  }
}

.subwayDelays h2 {
  color: #00A1DE;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.subwayDelays h3 {
  margin-bottom: 0;
}

.workBatch li {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: solid 1px rgba(244, 244, 244, 0.2);
}

/* route */
.routeCircle {
  display: inline-block;
  width: 1.5em;
  line-height: 1.5em;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  font-size: 1.0em;
  border-radius: 50%;
  font-weight: bold;
  text-align: center;
}

.routeCircle--tappable {
  min-width: 50px;
  min-height: 50px;
  font-size: 33px;
}

.routeA,
.routeC,
.routeE {
  background: #0039A6;
}

.routeB,
.routeD,
.routeF,
.routeM {
  background: #FF6319;
}

.routeJ,
.routeZ {
  background: #996633;
}

.routeN,
.routeQ,
.routeR,
.routeW {
  background: #FCCC0A;
  color: #000;
}

.routeS {
  background: #808183;
}

.routeL {
  background: #A7A9AC;
}

.routeG {
  background: #6CBE45;
}

.route1,
.route2,
.route3 {
  background: #EE352E;
}

.route4,
.route5,
.route6 {
  background: #00933C;
}

.route7 {
  background: #B933AD;
}

/* Config styling */
.busConfig label {
  display: block;
}

.subwayConfig__checkbox input {
  display: none;
}

.subwayConfig__checkbox {
  width: 25%;
  display: block;
  float: left;
  text-align: center;
}

.subwayConfig input:not(:checked) + .routeCircle {
  background: grey;
  color: white;
}

.btn {
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  margin: 0;

}

.btn-default {
  border: 1px solid #0039A6;
  background: #0039A6;
  padding: 0.5em 1em;
  font-size: 1em;
}

.btn-default:hover {
  background: #fff;
  color: #0039A6;
}

.btn-block {
  display: block;
  width: 100%;
}
